Packages/RealityKitContent/Package.realitycomposerpro/WorkspaceData/SceneMetadataList.json
Packages/RealityKitContent/Package.realitycomposerpro/WorkspaceData/nico.rcuserdata
Packages/RealityKitContent/Package.realitycomposerpro/WorkspaceData/nico.rcuserdata
Packages/RealityKitContent/Package.realitycomposerpro/ProjectData/main.json
Packages/RealityKitContent/Package.realitycomposerpro/PluginData/26DBAE76-5DD8-47B6-A085-1B4ADA111097/ShaderGraphEditorPluginID/ShaderGraphEditorPluginID
Packages/RealityKitContent/Package.realitycomposerpro/PluginData/923AAA0B-0A2F-4CA3-90F3-C48A3C83DB68/ShaderGraphEditorPluginID/ShaderGraphEditorPluginID
Packages/RealityKitContent/Package.realitycomposerpro/PluginData/E272DB3D-49BE-4C8B-9C9D-1B8737A8E636/ShaderGraphEditorPluginID/ShaderGraphEditorPluginID
Packages/RealityKitContent/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Packages/RealityKitContent/Package.realitycomposerpro/WorkspaceData/lascic.rcuserdata
Packages/RealityKitContent/.swiftpm/xcode/xcuserdata/lascic.xcuserdatad/xcschemes/xcschememanagement.plist
valenceSandbox.xcodeproj/project.xcworkspace/xcuserdata/lascic.xcuserdatad/UserInterfaceState.xcuserstate
valenceSandbox.xcodeproj/xcuserdata/lascic.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
valenceSandbox.xcodeproj/xcuserdata/lascic.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
